---
import "../../styles/globals.scss";
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Travel App</title>
	</head>
	<body>
		<div class="globalContainer">
			<div class="content">
				<slot />
			</div>
		</div>
	</body>
</html>
